<!-- TODO: fix css to put recaptcha and register button centred -->

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <legend>Register your account</legend>

    <%= devise_error_messages! %>

    <fieldset>
      <ol>
        <li>
          <%= f.label :email %>
          <%= f.email_field :email, :placeholder => "user@domain.com" %>
        </li>
        <li>
          <%= f.label :first_name %>
          <%= f.text_field :first_name, :placeholder => "First name" %>
        </li>
        <li>
          <%= f.label :last_name %>
          <%= f.text_field :last_name, :placeholder => "Last Name" %>
        </li>
        <li>
          <%= f.label :password %>
          <%= f.password_field :password, :placeholder => "Enter your password" %>
        </li>
        <li>
          <%= f.label :confirm_password %>
          <%= f.password_field :password_confirmation, :placeholder => "Confirm your password" %>
        </li>
        <li>
          <%= recaptcha_tags %>
        </li>
      </ol>
    </fieldset>
    <fieldset>
      <%= f.submit "Register" %>
    </fieldset>
<% end %>

<%= render "links" %>
