<h2>Listings</h2>

<div id="search-results">
  <ul>
  <% @listings.each do |listing| %>
  <li>
    <%= link_to(image_tag('peachie.png', alt => '') + content_tag(:span, listing.title) + content_tag(:span, listing.price), 'Show', listing )%>

    <%= listing.description %>
    <%= listing.user.email %>
    <%= link_to 'Edit', edit_listing_path(listing) %>
    <%= link_to 'Destroy', listing, confirm: 'Are you sure?', method: :delete %>

  </li>
  <% end %>
  </ul>
</div>

<%= link_to 'New Listing', new_listing_path %>
