<p id="notice"><%= notice %></p>

<div id="listing">

  <% @listing.attachments.each do |attachment| %>
    <div><%= attachment.description %></div>
    <div id="listing-image"><%= image_tag attachment.file.url %></div>
  <% end %>

  <div id="listing-header">
    <span id="title"><%= @listing.title %></span>
    <span id="price"><%= @listing.price %></span>
  </div>

  <span id="listing-desc"><%= @listing.description %></span>
</div>

<%= link_to 'Edit', edit_listing_path(@listing) %>

<%= link_to 'Back', listings_path %>
